*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Kollektif', sans-serif;
    font-size: 20px;
    background: #EDF6F9;
    max-height: 100%;
}


/*Nav bar which is fixed and is initially transparent but when screen is scolled the color changes*/
/* .nav{
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: background-color 0.5s ease-in-out;
} */

/*When screen is scrolled the color of the nav bar changes*/
.navbar {
    width: 100%;
    max-width: 1330px;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cbebe8;
    color: #83C5BE;
    transition: background-color 0.3s;
    z-index: 1000;
  }
  
  .navbar.scrolled {
    background-color: #1D1D1D;
  }
  
  .navbar-title img {
    margin: 0.5rem;
    height: 75px;
    width: 160px;
  }
  
  .navbar-link {
    height: 100%;
  }
  
  .navbar-link ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-link li {
    list-style: none;
    transition: 0.5s;
  }
  
  .navbar-link a {
    font-size: 18px;
    font-family: 'kollektif', sans-serif;
    color: #83C5BE;
  }
  
  .navbar-link.scrolled a {
    color: #fff;
  }
  
  
.navbar-link .button {
    border: 2px solid #006D77;
    border-radius:50px;
    padding: 0px;
    background-color: #006D77;
    color: #FAFAFA;
    /* height: 60px; */
  }

  .navbar-link .button a{
    color: #FAFAFA;
  }

  .navbar-link .button a:hover{
    color: #83C5BE;
  }

  .navbar-link .hbutton {
    margin-right: 10px;
    border: 2px solid #83C5BE;
    border-radius: 50px;
    padding: 0px;
    /* background-color: #83C5BE; */
    color: #FAFAFA;
    /* height: 60px; */
    
  }

  .navbar-link .hbutton:hover {
    border: 2px solid #006D77;
  }

  .navbar-link .hbutton a{
    color: #83C5BE;
  }

  .navbar-link .hbutton a:hover{
    color: #006D77;
  }

.navbar-link li a {
    display: block;
    text-decoration: none;
    color: #83C5BE;
    padding: 1rem;
    transition: 0.5s;
}

.navbar-link li a:hover {
    color: #006D77;
}

.toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #006D77;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-link {
        display: none;
        width: 100%;
    }

    .navbar-link ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-link ul li {
        text-align: center;
    }

    .navbar-link ul li a {
        padding: 0.5rem 1rem;
    }

    .navbar-link.active {
        display: flex;
    }
}

.services, .techstack, .contributors{
    padding: 20px 20px;
    border: #006D77;
    border-radius: 50px;  
}

.services .headbar , .techstack .headbar, .contributors .headbar{
    background: linear-gradient(30deg, #006D77 30%, #83C5BE 70%);
    background-color: #006D77;
    padding: 10px 0px;
    color: #EDF6F9;
    display: flex;
    justify-content: center;
}

.try{
    padding: 20px 20px;
    display: flex;
    justify-content:space-around;
}

.try a{
    text-decoration: none;
    color: #EDF6F9
}

.try a:hover{
    color: #006D77;
}

.techstack .content, .contributors .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    place-items: center;
    padding-top: 20px;
    
}

.techstack .content a{
    margin-bottom: 20px;
}


.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 20px;
    padding-bottom: 50px;
    padding-top: 90px;
    bottom: 50px;
}


.landing-text{
    padding: 20px 20px;
    width: 50%;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Josefin Sans';
    color: #006D77;
}

.about, .services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    padding-bottom: 20px;
    padding-top: 90px;
    /* bottom: 80px;            */
}

.about .about-text {
    padding: 10px 10px;
    width: 70%;
    font-size:25px;
    font-weight: 500;
    font-family: 'Josefin Sans';
    color: #006D77;
}

.head{
    font-size: 40px;
    display: flex;
    justify-self: center;
    font-weight: 700;
    font-family: 'Josefin Sans';
    color: #006D77;
    padding: 20px 20px;
}

.services .bot, .services .flask{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}



.services .bot p, .services .flask p {
    padding-top: 100px;
    padding: 10px 10px;
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Josefin Sans';
    color: #006D77;
}

.services .flask .sub p , .services .bot .sub p{
    padding-top: 100px;
    padding: 10px 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Josefin Sans';
    color: #006D77;
}

/* .services .flask .sub{
    display: flex;
    /* justify-content: spac;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100px;

} */