::selection{
    background: #006D77;
    color: #FAFAFA;
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background: #EDF6F9;
    max-height: 100%;
}

hr{
    height: 1px;
    background-color: #006D77;
    border: none;
    margin-left: 25px;
    margin-right: 25px;
}

.heading {
    font-family: 'Josefin Sans';
    font-size: 25px;
    font-weight: 500;
    color: #006D77;
    text-align: center;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ci, .cd, .dev, .k8s{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

.ci h3, .cd h3, .dev h3, .k8s h3{
    font-family: 'Josefin Sans';
    font-size: 25px;
    font-weight: 500;
    color: #006D77;
    text-align: center;
}

.ci-img, .cd-img{
    padding: 10px 10px;
}
.ci-img img , .cd-img img, .k8s-img img, .dev-img img{
    width: 100%;
    /* height: 300%; */
    /* border-radius: 50%; */
    margin-top: 25px;
}

.k8s span{
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-weight: 400;
    color: #006D77;
    text-align: center;
}